/* Wrapper for page content to push down footer */
#wrap 
{
  width: 90%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -111px;
  margin-top: 80px;
  /* Pad bottom by footer height */
  padding: 0 0 100px; 

}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container 
{
  padding: 50px 15px 0;
}

body
{
  font-family:"arial","freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size:13px;
}

.map_wrap {
	position:relative;
	overflow:hidden;
	width:100%;
	height:350px;
}

#centerAddr {
 	position:absolute;
 	left:10px;
 	top:10px;
 	border-radius: 2px;
 	background:#fff;
 	background: rgba(255,255,255,0.8);
 	z-index: 1;
 	padding:5px;
 	font-weight: bold; 	
 }


 #menu {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 254px;
  z-index: 10;
}

.radius_border {
	border:1px solid #919191;
	border-radius:5px;
}      

.custom_zoomcontrol {
	position:absolute;
	top:50px;
	left:700px;
	width:36px;
	height:80px;
	overflow:hidden;
	z-index:1;
	background-color:#f5f5f5;
} 

.custom_zoomcontrol span {
	display:block;
	width:36px;
	height:40px;
	text-align:center;
	cursor:pointer;
}

.custom_zoomcontrol span img {
	width:15px;
	height:15px;
	margin:13px 0;
	border:none;
}

.custom_zoomcontrol span:first-child {
	border-bottom:1px solid #bfbfbf;
}
